*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(85, 85, 85);
}

h1{
    display: flex;
    justify-content: center;
    align-content: center;
}

.titulo{
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
}
#diseñoContenedor{
    display: flex;
    justify-content: center;
    align-content: center;
}
#contenido {
   display: grid;
    gap: 2em;
    grid-template-areas: 
        "lunes martes miercoles"
        "jueves viernes sabado"
        "domingo domingo domingo";

}
#contenido #lunes{
    grid-area: lunes;
    background-color: #f7f7f7;
}
#contenido #martes{
    grid-area: martes;
    background-color: #d4d4d4;
}
#contenido #miercoles{
    grid-area: miercoles;
    background-color: #d4d4d4;
}
#contenido #jueves{
    grid-area: jueves;
    background-color: #a2a2a2;
}
#contenido #viernes{
    grid-area: viernes;
    background-color: #dedede;
}
#contenido #sabado{
    
    background-color: #aeaeae;
}
#contenido #domingo{
    
    background-color: #e0e0e0;
}

.tarjetas{
    
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 200px;
}
.diseño{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 1em;
    border-color: white;
    margin: 2em;
    gap: 2EM;
    flex-direction: column;
}
button{
    border-radius: 0.5em;
    background-color: rgb(219, 219, 219);
    border-color: white;
    cursor: pointer;
}
h2{
display: flex;
justify-content: center;
align-content: center;
text-transform: uppercase;
font-size: 1.5em;
font-weight: bold;
}

input{
    display: block;
    margin-top: 1em;
    border-radius: 1em;
    background-color: white;
    height: 2.5em; /* O el tamaño que te guste */
    width: 90%;    /* Para que no sea tan largo */
    padding: 0.5em 1em; /* Para que el texto no quede pegado al borde */
    font-size: 1em;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.btn-recargar{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    display: block;
    text-align: center;
}


@media (max-width: 900px) {
    #contenido {
    grid-template-areas: 
      "lunes martes"
      "miercoles jueves"
      "viernes sabado"
      "domingo domingo";
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #contenido {
    grid-template-areas: 
      "lunes"
      "martes"
      "miercoles"
      "jueves"
      "viernes"
      "sabado"
      "domingo";
    grid-template-columns: 1fr;
    }
}
